// title
%title{
  color: $titleColor;
  font-size: $titleFontSize;
  font-weight:$fontMedium;
}
.page-title{
  @extend  %title;
  text-transform: uppercase;
}
.section-title{
  @extend %title;
}

//header
#header{
  width: 100%;
  border-bottom: 1px solid $lightGrey;
  background-color: $headerBg;

  .user-control{
    position: relative;
    padding: 18px;
    border-left:1px solid $lightGrey;
    font-weight:$fontRegular;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: $darkGrey;

    &:hover{
      background-color: $xsLightGrey;
    }

    &.open{
      background-color: $xsLightGrey;

      .icon-arrow-down{
        transform: rotate(180deg);
      }
    }
    span{
      margin: 0 20px 0 15px;
    }

    .icon-arrow-down{
      font-size: 12px;
      line-height: 0;
    }

    .icon-notification{
      position: relative;
      font-size: 16px;
    }
    .new-notification{
      @extend %badge;

      width: 9px;
      height: 9px;
      right: -1px;
      top: -5px;
      background-color: $orange;
    }
    .user-auth-name{
      margin: 0 0 0 13px;
    }
    .icon-profile{
      font-size: 16px;
      line-height: 0;
    }
  }
}


//reference
.ref{
  color: $refColor;
  font-weight: $refFontWeight;
  font-size: $refFontSize;

  &:hover{
    color: $refColorHover;
  }
}
//badges
%badge{
  position: absolute;
  border-radius: 50%;
  margin: 0;
}

//aside
%activeLink{
  border-left-color: $orange;
  background-color: $activeLinkBg;
  color: $activeLinkColor;
}

#aside{
  background-color: $asideBg;
  width:$asideWidth;
  height:100vh;
  left: 0;
  z-index: 100;

  .menu-control{
    padding: 18px;

    .menu-btn{
      cursor: pointer;

      span{
        display: block;
        width: 18px;
        height: 2px;
        background-color: $darkGrey;

        & + span{
          margin-top: 5px;
        }
      }
    }

  }

  .aside-menu{
    padding-bottom: 35px;
    border-bottom: 1px solid $black;
    ul{
      li{
        color: $darkGrey ;

        &.active{
          a{
            @extend %activeLink;
          }
        }

        a{
          display: block;
          padding: 14px;
          border-left:4px solid transparent;

          [class*='icon-']{
            font-size: 17px;
            margin-right: 15px;
          }

          &:hover{
            @extend  %activeLink;
          }
        }
      }
    }
  }
  .your-manager{
    padding: 25px 20px;
    
    .mngr-title{
      text-transform: uppercase;
      font-size: 14px;
      color: #808080;
      font-weight:$fontMedium;
    }
    .manager-info{
      margin-top: 18px;

      .mngr-photo{
        width: 45px;
        height: 45px;
        position: relative;
        img{
          border-radius: 50%;
        }
        .online{
          @extend %badge;
          width: 12px;
          height: 12px;
          background-color: $green;
          top: 0;
          right: 0;
        }
      }
      .mngr-name{
        display: inline-block;
        margin-left: 10px;
        font-weight: $fontLight;
        color: $blue;
      }
    }
  }
}

//content
.content-wrapper{
  padding: 18px;
  height: calc(100vh - 62px);
  overflow-y: auto;
}

.card{
  background-color: $cardBg;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .card-header{
    border-bottom: 1px solid $lightGrey;
    padding: 18px;
  }
  .card-date{
    padding: 30px 0;
    border-bottom: 1px solid $lightGrey;
  }
  .datepicker-form{

    .date-input-wrap{
      border:1px solid $lightGrey;
      border-radius:3px;
      padding:3px 0;
      display: inline-block;
      color: $black;
      vertical-align: middle;
      margin-right: 12px;


      input{
        padding: 8px 16px;

        &#to{
          border-left:1px solid $lightGrey;
        }
      }
      label{
        display: inline-block;
        line-height:0;
        vertical-align: middle;
        padding: 0 15px;
        color: $grey;
      }
    }

    .btn{
      vertical-align: middle;
      line-height: 0;
      padding: 11px 15px;
    }
  }
}

//form-control
%form-control {
  outline: none;
  font-weight: $formFontWeight;
  border: 1px solid transparent;
  border-radius: $formBorderRadius;
  color: $formColor;
  font-size: $formFontSize;
  width: 155px;
  &[type="text"] {
    padding: 15px 15px 10px 15px;
  }
  &[type="password"] {
    width: $passwordWidth;
    padding: 15px 15px 15px 50px;
  }
}
.password-group{
  position: relative;
  width: 155px;

  label{
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: $passwordLabelFontSize;
    color: $passwordLabelColor;

    &[for="disabled-password"]{
      color: $disabledPasswordColor;
    }
  }
}
textarea{
  padding: 18px;
  font-size: $titleFontSize;
}


.default{
  @extend  %form-control;
  border-color: $formDefaultBorderColor;
  &:hover, &:focus{
    border-color: $formDefaultBorderColorHover;
  }
  
}
.disabled{
  @extend %form-control;
  border-color: $formDisabledBorderColor;
  &::placeholder{
    color: $formDefaultBorderColorHover;
  }
}

.wrong-password{
  @extend %form-control;
  border-color: $passwordWrongBorderColor;
}


//container
.container{
  margin: 0 auto;
  &.sm{
    max-width: 684px;
  }
}

//button
.btn{
  display: inline-block;
  padding: 10px 15px;
  border-radius: $btnBorderRadius;
  font-weight:$fontLight;
  font-size: $btnFontSize;
  color: $btnColor;
}

.btn-default{
  background-color: $btnDefaultBg;
  
  &:hover{
    background-color: $btnDefaultBgHover;
  }
}
.btn-action{
  background-color: $btnActionBg;

  &:hover{
    background-color: $btnActionBgHover;
  }
}

//dropdown
.dropdown-menu{
  display: none;
  position: absolute;
  background-color: $xsLightGrey;
  padding: 10px 18px 24px;
  top: 100%;
  left: 0;
  right: 0;
}

//table
.table{

  font-size: $tableFontSize;
  border-collapse:collapse;
  tbody{
    tr{
      transition: all .2s linear;
      &:hover{
        background-color: $xsLightGrey;

        .hide-icons{
          opacity: 1;
        }
      }
      &:last-child{
        td{
          border-bottom: 1px solid $lightGrey;
        }

      }
    }
  }

  td{
    padding: 18px;
    border-top:1px solid $lightGrey;

    .hide-icons{
      opacity: 0;
      transition: all .2s linear;
    }
  }

}